@media only screen and (max-width: 1440px) {
    .box_textbanner {
        
    }
  
    .howitwork_right_title {
        width: 40%;
}
    
    
}

@media only screen and (max-width: 1280px) {
    .box_textbanner {
        width: 60%;
    }
    
    .num3_img {
       
         margin-top: 40%;
    }
    
    .howitwork_right_img_1{
        
        width: 89px;
        height: 160px;
            left: -39%;
    top: 24%;
    }
    
    .howitwork_right_img_2{
        
        width: 89px;
        height: 160px;
            left: 30%;
    top: -22%;
    }
    
    .howitwork_right_img_3{
        
        width: 89px;
        height: 160px;
            left: -19%;
    top: -53%;
    }
    
    .howitwork_right_img_4{
        
        width: 89px;
        height: 160px;
            left: 30%;
    top: -127%;
    }
}

@media only screen and (max-width: 1024px) {
    .box_textbanner {
        width: 70%;
    }
    
    .box_our_left {
        
        width: 80%;
    }
    .box_our_right {
        width: 80%
        
    }
    
    .colum2 {
        width: 100%;
        
    }
    
    .box_num3{
        
        width: 45%;
        margin-left: 30%;
    }
    
    .num3_img {
       
         margin-top: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .box_textbanner {
        width: 80%;
    }
    
    .box_num3{
        
        width: 45%;
        margin-left: 20%;
        margin-top: 8%;
    }
    
    .num3_text {
        
        background-size: 120%;
    }
    
    .box_retail{
        width: 480px;
        margin-left: 10%;
    }
    
    .box_retail_left {
        
        width: 73%;
    }
    
    .box_retail_left p{
        
        font-size: 14px;
    }
    
    
}
@media only screen and (max-width: 768px) {
    .box_textbanner {
        width:90%;
    }
    
     .num3_img {
       
         margin-top: 60%;
    }
    
}
@media only screen and (max-width: 640px) {
    .box_textbanner {
        width: 100%;
    }
    
    .howitwork_left {
        
        width: 100%;
    }
    .howitwork_right_title {
        width: 100%;
        float: left;
}
    .content2_howit_right {
        float: left;
        
    }
    
     .num3_text {
        
        background-size: 180%;
    }
    
     .num3_img {
       
         margin-top: 87%;
    }
}

@media only screen and (max-width: 480px) {
    .box_textbanner {
        width: 100%;
    }
    
}